body {
    margin: 0 auto;
}
nav {
    background-color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
}

#nav-content {
    width: 1160px;
}

.content {
    width: 1160px;
    margin: 0 auto;
}

.menu {
    padding: 0;
    margin: 0;

    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    list-style-type: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;

    position: relative;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-right: 58px;
    transition: background .2s linear;
    line-height: 140%;
}

.menu li a:hover {
    color: #F9804B;
}

#logo-container {
    box-sizing: border-box;
    border: solid white 1px;
    border-radius: 2px;

    width: 82px;
    height: 52px;
    margin-right: 63px;

    position: relative;
}

#logo-description {
    color: white;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    line-height: 120%;
    margin: 0px 0px;

    position: absolute;
    top: 3.55px;
}

#logo-image {
    position: relative;
    top: 22px;
    left: 9px;
}

#designed {
    margin-left: 380px;
    margin-right: 0px;
}

#about {
    color: #F9804B;
}

/* Section 1 - Watch online */
#watch-online {
   display: flex;
   justify-content: center;
   /* margin-bottom: 140px; */
}

#watch-online-content {
    background: url(../../assets/images/Giant\ Panda.png);
    width: 1600px;
    height: 780px;
}

#circle {
    width: 465px;
    height: 465px;
    border-radius: 232.5px;

    position: absolute;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

#watch-description {
    width: 500px;
    height: 400px;
    position: absolute;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.highlighted-text {
    color: #FFEE2E;
}

#watch-button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border-width: 0px;
}

#watch-button:hover {
    background: #E47209;
}

#watch-button:active {
    background: #4B9200;
}

#watch-button-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

/* Section 2 - The backstage */

#backstage {
    display: flex;
    justify-content: center;
    width: 1600px;

    margin: 0px auto 0px;

    background-image: url(/assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-position: right top 12px;
    background-clip: border-box;

    padding: 140px 0px 180px 0px;
}

.backstage-content {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

#flower-photo {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#backstage-image {
    width: 609px;
    height: 403px;
    margin-right: 87px;
}

#backstage-texts {
    color: #333B41;
}

.backstage-title {
    margin-bottom: 20px;
    margin-top: 0px;
    color: #333B41;
}

.backstage-text2 {
    line-height: 130%;
    margin-bottom: 54px;
    
}

.backstage-text3 {
    margin-bottom: 34px;
}

.backstage-text4 {
    margin-bottom: 0px;
}

/* Section 3 - The pets */

#pets {
    display: flex;
    justify-content: center;
    position: relative;
    width: 1600px;
    margin: 0px auto;
}

#pets-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 100px;
}

#pets-images {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.arrow-button {
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 31px;

    margin: 20px;

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.arrow-button:hover {
    background: #E47209;
}

.arrow-button:active {
    background: #4B9200;
}

#pets-images-block {
    display: grid;
    grid-template-columns: repeat(3, 366px);
    grid-template-rows: repeat(2, 426px);
    gap: 20px 30px;

    margin-bottom: 80px;
}

.pets-card {
    width: 366px;
    height: 426px;
    overflow: hidden;

    background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #FA8C32, #FE9013) border-box;
    border: 1px solid transparent;
    border-radius: 5px;
}

.pets-card:hover .pets-img {
    transform: scale(1.1);
    opacity: 0.5;
}

.pets-card:hover .pets-info {
    transform: translateY(-60px);
    color: white;
}

.pets-img {
    width: 366px;
    height: 366px;
    margin: 0px;

    transition: all 300ms;
}

.pets-img-wrapper {
    overflow: hidden;
    height: 366px;
    margin: 0;
    background-color: black;
}

.pets-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px 10px 14px 16px;

    transition: all 300ms;
}

.pets-text-info {
    margin: 0px;
    padding: 0px;
}

.pets-name {
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}


.pets-location {
    margin: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}

#choose-favorite {
    background: #FE9013;
    color: white;

    width: 298px;
    height: 54px;
    border-radius: 25px;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
}

#choose-favorite:hover {
    background: #E47209;
}

#choose-favorite:active {
    background: #4B9200;
}

#pets-right-bg-image {
    position: absolute;
    top: 831px;
    right: 0px;
}

#pets-left-bg-image {
    position: absolute;
    top: 646px;
    left: 0px;
}

/* Section 4 - Pick and feed */

#pick-and-feed {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
    padding: 69px 0 100px 0;
}

.paf-content {
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    padding-top: 41px;
    padding-bottom: 59px;
}

.paf-title {
    color: #FE9013;

    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;

    margin-top: 0px;
    margin-bottom: 30px;
}

#paf-description-block {
    padding-left: 99px;
    margin-bottom: 60px;
}

.paf-subtitle {
    color: #333B41;

    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    margin-bottom: 40px;
}

.paf-description {
    color: #333B41;

    font-weight: 500;
    font-size: 16px;
    line-height: 130%;

    margin-bottom: 10px;
}

.paf-description-regular {
    color: #333B41;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    width: 863px;
}

#paf-description-link {
    color: #333B41;
    text-decoration: none;
    border-bottom: solid 1px #FE9013;
}

.paf-subhead {
    color: #333B41;

    font-weight: 400;
    font-size: 36px;
    line-height: 130%;

    margin-bottom: 40px;
    text-align: center;
}

#paf-steps {
    display: flex;
    padding: 0px 198px;

    margin-bottom: 60px;

    position: relative;
}

.paf-step-card {
    width: 168px;
    height: 244px;

    border-radius: 5px;
}

.paf-step-img-wrapper {
    width: 168px;
    height: 168px;

    background: white;
    border: solid 1px #F9804B;
    border-radius: 5px;

    position: relative;
}

.paf-step-img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    margin-bottom: 30px;
}

.paf-step-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    
    color: #333B41;
}

.paf-next-step-arrow {
    margin: 0 30px;
    position: relative;
    top: -40px;
}

.paf-feed-button {
    display: block;
    margin: 0 auto;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.button {
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;

    text-align: center;
    text-transform: uppercase;

    color: white;

    border: none;
}

.button:hover {
    background: #E47209;
}

.button:active {
    background: #4B9200;
}

.buttons-link {
    text-decoration: none;
    color: white;
}

/* Section 5 - Testimonials */

#testimonials {
    position: relative;
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonials-title {
    text-align: center;
}

.testimonials-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 21px;
}

.testimonials-card {
    border-radius: 20px;
    width: 268px;
    height: 391px;

    padding: 15px 15px 19px 16px;
    box-sizing: border-box;

    background: linear-gradient(#F1F3F2, #F1F3F2) padding-box,
    linear-gradient(315deg, #FEBDABBD, #FEBCAEBD, #F3A9F8A8, #E0D8F0, #EAF7FE, #EAF7FE) border-box;
    border: 2px solid transparent;
    border-radius: 20px;
}

.testimonials-card-info {
    display: flex;
    direction: row;

    margin-bottom: 11px;
}

.testimonials-user-icon {
    margin-right: 10px;
}

.testimonials-username {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 1px;
}

.testimonials-details {
    display: flex;
}

.testimonials-details-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
    margin: 0;
}

.testimonials-details-separator {
    margin-left: 6px;
    margin-right: 6px;
}

.testimonials-card-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    height: 309px;

    color: #767474;
    overflow: hidden;
}

.testimonials-scroll {
    padding: 0px 281px 0px 280px;
    margin-bottom: 31px;
}

.testimonials-slider {
    width: 100%;
    height: 8px;
    border-radius: 5px;

    -webkit-appearance: none;
    outline: none;

    background: linear-gradient(#F5F7F6, #F5F7F6) padding-box,
    linear-gradient(358deg, #FEBDABBD, #FEBCAEBD, #F3A9F8A8, #E0D8F0, #EAF7FE, #EAF7FE) border-box;
    border: 0.5px solid transparent;
}

.testimonials-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 115px;
    height: 6px;
    border-radius: 5px; 
    background: #FE9013;
    cursor: pointer;
  }

.testimonials-feedback {
    border-radius: 5px;
    margin-bottom: 180px;
}

#testimonials-bg-image {
    position: absolute;
    right: 0px;
    bottom: -130px;
}
